<script src="assets/logic/setlog_logic.js" type="text/javascript"></script>

<div class="container-fluid">
	<div class="panel panel-default" id="data-control">
		<div class="panel-heading">
			data control 
			<button id="data-controls"> hide </button>
		</div>
		<div class="panel-body" id="control-box">
			<button class="btn btn-default" id="get-week"> week </button>
			<br>
			<button class="btn btn-default" id="get-all"> all </button>

			<form class="form-inline" id="get-date">
				<div class="form-group">					
					<input class="form-control" type="date" id="date-input">  
				</div>
				<button class="btn btn-default" type="submit">date</button>
				<button class="btn btn-default" id="get-today">today</button>
			</form>

			<form class="form-inline" id="get-month">
				<div class="form-group">
					<select class="form-control" id="month-selection">
						<option value=1> January </option>
						<option value=2> Februrary </option>
						<option value=3> March </option>
						<option value=4> April </option>
						<option value=5> May </option>
						<option value=6> June </option>
						<option value=7> July </option>
						<option value=8> August </option>
						<option value=9> September </option>
						<option value=10> October </option>
						<option value=11> November </option>
						<option value=12> December </option>
					</select>
				</div>
				<button class="btn btn-default" type="submit">month</button>
			</form>

		</div>
	</div>
</div>


<div class="container-fluid" id="data-results">
	<table class="table">
		<thead>
			<tr>
				<th> MOVEMENT </th>
				<th> WEIGHT </th>
				<th> SETS </th>
				<th> REPS </th>
				<th> DATE </th>
				<th> NOTES </th>
				<th> CONDITIONS </th>
			</tr>
		</thead>

		<tbody id="data-results-body">
			{{#each logged}}
			<tr id={{set_id}}>
				<td> {{movement_name}} </td>
				<td> {{weight}} </td>
				<td> {{no_sets}} </td>
				<td> {{no_reps}} </td>
				<td> {{set_date}} </td>
				<td> <button class="get-notes" value={{set_id}}> view </button> </td>
				<td> <button class="get-conditions" value={{set_id}}> view </button> </td>
			</tr>
			{{/each}}
		</tbody>
	</table>
</div>
