<script src="assets/logic/setlog_table.js" type="text/javascript"></script>
<script src="assets/logic/setlog_modal.js" type="text/javascript"></script>

<div class="container-fluid">
	<div class="panel panel-default" id="data-control">
		<div class="panel-heading" id="data-control-heading">
			<button class="btn btn-xs" id="data-controls"> search </button>
			<!-- Trigger the modal with a button -->
		</div>
		<div class="panel-body" id="control-box" id="get-week">

			<form class="form-inline" id="get-week">
				<button class="btn btn-default btn-xs" type="submit"> week </button>
			</form>

			<form class="form-inline" id="get-all">
				<button class="btn btn-default btn-xs" type="submit"> all </button>
			</form>

			<form class="form-inline" id="get-date">
				<div class="form-group">					
					<input class="form-control" type="date" id="date-input">  
				</div>
				<button class="btn btn-default btn-xs" type="submit">date</button>
				<button class="btn btn-default btn-xs" id="get-today">today</button>
			</form>

			<form class="form-inline" id="get-month">
				<div class="form-group">
					<select class="form-control" id="month-selection">
						<option value=1> January </option>
						<option value=2> Februrary </option>
						<option value=3> March </option>
						<option value=4> April </option>
						<option value=5> May </option>
						<option value=6> June </option>
						<option value=7> July </option>
						<option value=8> August </option>
						<option value=9> September </option>
						<option value=10> October </option>
						<option value=11> November </option>
						<option value=12> December </option>
					</select>
				</div>
				<button class="btn btn-default btn-xs" type="submit">month</button>
			</form>

			<form class="form-inline" id="get-movement">
				<div class="form-group">
					<select class="form-control" id="movement-selection">
						{{#each mvmt}}
							<option value={{movement_id}}> {{movement_name}} </option>
						{{/each}}
					</select>
				</div>
				<button class="btn btn-default btn-xs" type="submit">movement</button>
			</form>

			<form class="form-inline" id="get-1rm">
				<div class="form-group">
					<select class="form-control" id="1rm-movement-selection">
						{{#each mvmt}}
							<option value={{movement_id}}> {{movement_name}} </option>
						{{/each}}
					</select>
				</div>
				<button class="btn btn-default btn-xs" type="submit">1rm</button>
			</form>

		</div>
	</div>
</div>

<div class="container-fluid" id="data-results">
	<table class="table">
		<thead>
			<tr>
				<th> MOVEMENT </th>
				<th> WEIGHT </th>
				<th> SETS </th>
				<th>  </th>
				<th> REPS </th>
				<th> DATE </th>
				<th>  </th>
				<th>  </th>
			</tr>
		</thead>

		<tbody id="data-results-body">
			{{#each logged}}
			<tr id={{set_id}} class="table-data">
				<td> {{movement_name}} </td>
				<td> {{weight}} </td>
				<td> {{no_sets}} </td>
				<td> x </td>
				<td> {{no_reps}} </td>
				<td> {{set_date}} </td>
				<td> <button class="btn get-notes" value={{set_id}}> notes </button> </td>
				<td> <button class="btn get-conditions" value={{set_id}}> conditions </button> </td>
			</tr>
			{{/each}}
		</tbody>
	</table>
</div>


<!-- Modal -->
<div id="setlog-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="setlog-modal-head">NO DATA</h4>
      </div>
      <div class="modal-body" id="setlog-modal-body">
        NO DATA
      </div>
      <div class="modal-footer">
        
        <form class="form-inline" id="add-set-condition">
			<div class="form-group">
				<select class="form-control" id="condition-selection">
					{{#each conditions}}
						<option value={{condition_id}}> {{condition_name}} </option>
					{{/each}}
				</select>
			</div>

			<button class="btn btn-danger btn-md submit-commentary" id="submit-condition-id" value=0 type="submit">
				add condition
			</button>
		</form>

		<form class="form-inline" id="add-set-note">
			<div class="form-group">
				<textarea id="note-content" class="form-control"></textarea>
			</div>

			<button class="btn btn-primary btn-md submit-commentary" id="submit-condition-id-note" placeholder="" value=0 type="submit">
				add note
			</button>
		</form>
      </div>
    </div>

  </div>
</div>